<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.extreme_energy_efficiency.dao.ActualParameterMapper">

    <select id="getParameters" resultType="com.example.extreme_energy_efficiency.dao.entity.ActualParameter">
        select * from actual_parameter
    </select>

</mapper>