<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.extreme_energy_efficiency.dao.DefaultValueMapper">

    <select id="selectAll" resultType="com.example.extreme_energy_efficiency.dao.entity.DefaultValue">
        select * from default_value
    </select>

</mapper>