<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.extreme_energy_efficiency.dao.RatioMixedCokeMapper">

    <resultMap id="ratioCokeMap" type="com.example.extreme_energy_efficiency.dao.entity.RatioMixedCoke">
        <result property="name" column="混合燃料"/>
        <result property="coke1" column="焦A"/>
        <result property="coke2" column="无烟煤A"/>
    </resultMap>

    <select id="selectAll" resultMap="ratioCokeMap">
        select * from mixed_coke
    </select>


</mapper>